<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="root">
        <header></header>
        <div class="container">
            <div class="client-holder">
                <div class="client-header">
                    <div class="client">
                        <div class="profile-pic-holder">
                            <img class="profile-pic" src="img/avatar_io.jpg" alt="client avatar">
                        </div>
                        
                        <h2>Sofia</h2>
                    </div>
                    <div class="settings-holder">
                        <a href="#!"><i class="fa-solid fa-circle-notch"></i></a>
                        <a href="#!"><i class="fa-solid fa-message"></i></a>
                        <a href="#!"><i class="fa-solid fa-ellipsis-vertical"></i></a>

                    </div>
                </div>
                <div class="msg-notification-bar">
                    <div class="notifi-icon">
                        <div class="notifi-btn"><a  href="#!"><i class="fa-solid fa-bell-slash"></i></a></div>
                    </div>
                    <div class="notifi-text">
                        <div class="text-explain"><strong>Ricevi notifiche di nuovi messaggi</strong></div>
                        <a href="#!"><span>Attiva notifiche desktop</span></a>
                    </div>
                </div>
                <div class="search">
                    <div class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                    <input v-model="searchClientByName" type="text" name="search-bar" id="search-bar" placeholder="Cerca o inizia una nuova chat" max="">
                </div>
                <div class="clients-list-holder">
                    <ul class="clients-list">
                        <li v-for="(client, index) in filteredListByName" class="clients" @click="callContactMsg(index)">
                            <div class="profile-pic-holder">
                                <img class="profile-pic" :src="`img/${client.avatar}`" alt="client avatar">
                            </div>
                            <div>
                                <h2>{{client.name}}</h2>
                                <span>{{client.messages.slice(-1)[0].message}}</span>
                            </div>
                            <div class="clients-msg-time">{{client.lastMsg}}</div>
                            
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="msg-holder">
                <div class="msg-header">
                   
                    <div class="profile-pic-holder">
                        <img class="profile-pic" :src="`img/${rightSideObj.avatar}`" alt="client avatar">

                        <div>
                            <h2>{{rightSideObj.name}}</h2>
                            <span>Ultimo accesso oggi alle {{rightSideObj.lastMsg}}</span>
                        </div>
                    </div>
                    

                    <div class="settings-holder">
                        <a href="#!"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <a href="#!"><i class="fa-solid fa-paperclip"></i></a>
                        <a href="#!"><i class="fa-solid fa-ellipsis-vertical"></i></a>

                    </div>
                    
                </div>
                <div class="text-area">
                    <div v-for="(msg, msgIndex) in rightSideObj.messages" :class="msg.status == 'sent' ? 'client-msg' : 'friend-msg'" class="text-msg-holder client-msg" >

                        <div :class="msg.status == 'sent' ? 'client-bg' : 'friend-bg'" class="text-msg client-bg">  
                           {{msg.message}}
                           <div class="text-msg-time">{{msg.date.slice(11, -3)}}</div>
                        </div>

                    </div>
                
                </div>
                <div class="inputs-holder">
                    <div class="emoji">
                        <a href="#!"><i class="fa-regular fa-face-smile"></i></a>
                    </div>
                    <div class="type-msg">
                        <input @keyup.enter="sendMSG" v-model="inputMSG" type="text" name="type-msg" id="type-msg-input" class="type-msg-input" :class="emptyMsgError == true ? 'type-msg-input-error' : 'type-msg-input'" :placeholder="textMsgPlaceHolder">
                    </div>
                    <div class="voice-msg-holder">
                        <div class="voice-msg">
                            <a href="#!"><i class="fa-solid fa-microphone"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
       
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>