/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --body-background: #D7D5D0;
    --wassap-green: #22887D;
    --app-background: #E8E6E8;

}


#root {
  background-color: var(--body-background);
  height: 100vh;  
}

header {
    height: 12vh;
    background-color: var(--wassap-green);
}

/* Main Container */

.container {
    position: absolute;
    height: 90vh;
    max-width: 1000px;
    min-width: 600px;
    width: 100%;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--app-background);
    display: flex;
}

/* Client Section */

.client-holder {
    width: 34%;
    height: 100%;
    border-right: 1px solid var(--body-background);
}


/* Message Section */

.msg-holder {
    width: 66%;
    height: 100%;
    background-color: aqua;
}
