/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    /* Colors */
    --body-background: #D7D5D0;
    --wassap-green: #22887D;
    --app-background: #FAF9FA;
    --notification-bg: #8CD1F9;
    --inner-bg: #fff;
    --inner-header-bg: #E8E6E8;
    --inputs-bg: #F3ECE8;

    /* Utilities ************************/

    /* height client holder */
    --inner-header-height: 8%;
    --msg-notification-bar-height: 10%;
    --search-height: 4%;

    /* margins */
    --search-margin: 6px;

}


#root {
  background-color: var(--body-background);
  height: 100vh;  
}

header {
    height: 12vh;
    background-color: var(--wassap-green);
}

/* Main Container */

.container {
    position: absolute;
    height: 90vh;
    max-width: 1000px;
    min-width: 600px;
    width: 100%;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--app-background);
    display: flex;
}

/* Client Section */

.client-holder {
    width: 34%;
    height: 100%;
    border-right: 1px solid var(--body-background);
}

.client-header, .msg-notification-bar, 
.clients-list-holder {
    width: 100%;
}

.client-header {
    height: var(--inner-header-height);
    background-color: var(--inner-header-bg);
}

.msg-notification-bar {
    height: var(--msg-notification-bar-height);
    background-color: var(--notification-bg);
}

.search {
    height: var(--search-height);
    width: calc(100% - 2 * var(--search-margin));
    margin: var(--search-margin) auto;
    background-color: var(--inner-bg);
}

.clients-list-holder {
    height: calc(100% - ( var(--inner-header-height) + var(--msg-notification-bar-height) + var(--search-height) + (2 * var(--search-margin))));
    background-color: var(--inner-bg);
}


/* Message Section */

.msg-holder {
    width: 66%;
    height: 100%;
}

.msg-header {
    height: var(--inner-header-height);
    background-color: var(--inner-header-bg);
}

.text-area {
    height: calc(100% - 2 * var(--inner-header-height));
    background-image: url(../img/mine.jpg);
    background-position: cover;

}

.inputs-holder {
    height: var(--inner-header-height);
    background-color: var(--inputs-bg);
}
